.home {
  color: red;
  flex: flex;

  h2 {
    display: block;
  }
}
.container {
  background: blue;
}

body {
  -webkit-font-smoothing: antialiased;

  /* 覆盖 next 组件的样式 */
  .next-btn {
    font-size: 18px;
  }
}